header{
    background-color:black
    color: blue
    text-aling: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color:aliceblue;
    color: black;
    max-width: 800px;
    margin: 0 auto;
}